# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/

# Local configuration
*.gem
*.swp
.DS_Store
.env
.bundle/
vendor/

# Ruby specific
*.rbc
*.lock
.rbenv-version
.ruby-version
.ruby-gemset

# VSCode (optional)
.vscode/

# macOS
Icon?
.DS_Store
_site/
